.form {
  margin: 200px auto;
  display: flex;
  flex-flow: column;
  max-width: 300px;
  width: 100%;
}

.form_username__wrapper {
  width: 200px;
}

.wrong_password_notification {
  margin-top: -40px;
  position: absolute;
  color: #c22929;
  font-family: Arial, sans-serif;
}

.form_username {
  padding: 10px;
}

.form_username,
.form_password,
.form_button {
  width: 100%;
  box-sizing: border-box;
  height: 40px;
  font-size: 20px;
}

.form_button {
  background-color: #61dafb;
  border: none;
  transition: all 0.2s ease-in-out;
}

.form_button:hover {
  box-shadow: 0 0 10px 5px #61dafb;
}

.form_button:active {
  background-color: #87b6f8;
}
